@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

a{
    text-decoration: none;
}

li{
    list-style-type: none;
}

.arrow-down{
    width: 100px;
    height: 100px;
    background-color: red;
    z-index: 12;
    position: fixed;
    bottom: 0;
    right: 0;
}

/* .arrow-down > a{
    position: fixed;
} */

 /* HEADER STYLING */

.header{
    background-color: #08AEEA;
    background-image: linear-gradient(90deg, #08AEEA 0%, #2AF598 100%);
    display: flex;
    justify-content: space-between;
    padding: 0px 60px;
}

.social-media-icons > .fa{
    font-size: 28px;
    text-decoration: none;
    margin: 10px 5px;
    width: 25px;
    height: 25px;
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 50%;
}

.fa-facebook{
    background: #3B5998;
    color : white;
}

.fa-twitter{
    background: #55ACEE;
    color: white;
}

.fa-instagram{
    color: white;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);

}

.fa-youtube{
    background: #bb0000;
    color: white;
}

.social-media-icons > .fa-whatsapp{
    background: #25d366;
    color : white;
}

.donation-buttons > button{
    font-size: 20px;
    width: 150px;
    height: 45px;
    margin: 10px 5px;
    padding:5px;
    border-radius: 7px;
    border: none;
    cursor: pointer;
    background-color: #076AF9;
    color: white;
    font-weight: 500;
    letter-spacing: 1.2px;
}

.donation-buttons > button:hover{
    opacity: 0.9;
    background-color: #024DE4 ;
    box-shadow: 0px 0px 3px grey;
}

button:focus{
    outline :none;
}




 /* LOGO AND NAVBAR STYLING */

.navigation{
    padding-top: 10px;
    background-color: whitesmoke;
    padding: 0px 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navigation > img{
    width: 250px;
}

.navigation > nav{
    font-size: 16px;  
    font-weight: 600;  
    background-color: red;
}

.navigation > nav > li{
    display: inline-block;
    padding: 20px 10px;
    color: grey ;
    background-color: gold;
    margin: 0px 5px;
}

nav > li {
    position: relative;
    padding: 20px 10px;
    color: #1E8449 ;
    background-color: yellow;
}

nav > li :before{
    content:"";

    background-color: black;
    position: absolute;
    top:0px;
    left:-5px;
    width: 100%;
    height: 4px;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.5s;
}

nav > li :hover:before{
    transform: scaleX(1);
    transform-origin: center;
   /* color: white;
   background: rgb(77,126,232);
   background: linear-gradient(0deg, rgba(77,126,232,1) 0%, rgba(87,252,58,1) 100%); */
}



/* DROPDOWN */

nav{
    position: relative;
}

/* #about:hover + .dropdown-menu{
    opacity: 1;
}
  */


.about + .dropdown-menu{
    border-radius: 5px;
    width: 200px;
    background-color: green;
    position: absolute;
    top: 40px;
    left : 20px;
    z-index: 1;
    opacity: 1;
}

.about + .dropdown-menu::before{
    content: ' ';
    position: absolute;
    top: -10px;
    left: 45%;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom : 10px solid green;
}

.services + .dropdown-menu{
    border-radius: 5px;
    width: 200px;
    background-color: green;
    position: absolute;
    top: 40px;
    left : 160px;
    z-index: 1;
    opacity: 1;
}

.services + .dropdown-menu::before{
    content: ' ';
    position: absolute;
    top: -10px;
    left: 45%;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom : 10px solid green;
}

.projects + .dropdown-menu{
    border-radius: 5px;
    width: 200px;
    background-color: green;
    position: absolute;
    top: 40px;
    left : 320px;
    z-index: 1;
    opacity: 1;
}

.projects + .dropdown-menu::before{
    content: ' ';
    position: absolute;
    top: -10px;
    left: 45%;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom : 10px solid green;
}

.donation + .dropdown-menu{
    border-radius: 5px;
    width: 200px;
    background-color: green;
    position: absolute;
    top: 40px;
    left : 620px;
    z-index: 1;
    opacity: 1;
}

.donation + .dropdown-menu::before{
    content: ' ';
    position: absolute;
    top: -10px;
    left: 45%;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom : 10px solid green;
}


.dropdown-menu > ul{
    padding: 0px 15px;
    font-size: 16px;
}

.dropdown-menu > ul > li{
    margin: 15px 2px;
}

ul > li > a{
    color: white;
}




 /* SLIDER IMAES */

 .main-image{
     position: relative;
 }

 .slider-image{
    width: 100%;
    height: 600px;  
    position: relative;   
}

.slider-image > .black-sheet{
    position: absolute;
    top:0;
    opacity: 0.8;
    background: black;
    width: inherit;
    height: inherit;
}

.slider-image > img{
    overflow: hidden;
    width: inherit;
    height: inherit;
}

.main-image > h1{
    word-spacing: 12px;
    font-size : 3em;
    position: absolute;
    top:20%;
    left: 200px;
    max-width: 650px;
    color : #ECF0F1 ;
}

.main-image > .leftarrow{
    position: absolute;
    top:50%;
    left: 30px;
    background-color: lightslategrey;
    width: 50px;
    height: 50px;
    color: #B3B6B7;
    border-radius: 50%;
    font-size: 1.5em;
    text-align: center;
}

.leftarrow > p, .rightarrow > p{
    margin: 0;
    padding-top:5px;
}

.main-image > .rightarrow{
    position: absolute;
    background-color: lightslategrey;
    top:50%;
    width: 50px;
    height: 50px;
    right: 30px;
    color: #B3B6B7;
    border-radius: 50%;
    font-size: 1.5em;
    text-align: center;
}





/* MARQUEE */

.marquee{
    background-color: rgb(13, 245, 44) ;
    color : #1B4F72;
    font-weight: 600;
    padding: 5px 40px;
    position: relative;
}

.marquee > marquee::before {
    content: "🇵🇰";
    font-size: 24px;
    position: absolute;
    top:1%;
    left: 5px;
}

.marquee > marquee::after {
    content: "🇵🇰";
    font-size: 24px;
    position: absolute;
    top:1%;
    right: 5px;
}

.marquee > marquee > span{
    color : white;
}

.marquee > marquee > a{
    color : #21618C ;
}




 /* INTRODUCTION */

.introduction{
    text-align: justify;
    max-width: 900px;
    margin: 80px auto;
}

.introduction > h1, .title-image{
    text-align: center;
}

.introduction > h1{
    font-size: 3em;
    margin: 20px 0px;
    letter-spacing: 2.5px;
    color : blue;
}
.title-image{
    position: relative;
}

.title-image::before{
    content: "";
    width: 50px;
    border-bottom: 3px solid green;
    position: absolute;
    top:45%;
    left: 40%;
}

.title-image::after{
    content: "";
    width: 50px;
    border-bottom: 3px solid green;
    position: absolute;
    top:45%;
    left:55%;
}

.introduction > div > p{
    line-height: 1.5;
    letter-spacing: 1.1px;
}



 /* STATISTICS */

.statistics{
    margin: 10px 0px;
    padding: 30px 0px;
    background-color: red;  
    display: flex;
    justify-content: space-around;  
}

.food, .family, .medical, .education{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.food > img, .family > img{
    width: 100px;
    height: 100px;
}

.medical > i, .education > i{
    margin: 5px;
    color : white;
    font-size: 6em;
}

.statistics > div >h2{
    font-size: 2.5em;
    padding-top: 20px;
    margin:0;
    color : white;
}

.statistics > div > p{
    font-size: 20px;
    margin: 5px 0px;
}

.statistics > div > p > span{
    font-size: 30px;
    margin: 5px 0px;
}



/* WORKING */

.working > h2, .working .title-image, .boxes{
    text-align: center;
}

.working > h2{
    font-size: 2.5em;
    color : blue;
}

.boxes {
    display: flex;
    margin: 50px;
    justify-content: center;
    flex-wrap: wrap;
}

.box{
    width: 420px;
    margin: 5px 20px;
    background-color: red;
    height: 250px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.box > h3{
    font-size: 1.5em;
    color: white;
}



/* MISSON AND UPCOMING */

.container{
    padding: 0px 50px;
    background-color: khaki;
}

.container h2{
    font-size: 2.2em;
}


.two-containers{
    display: flex;
    justify-content: space-around;
}

.mission{
    width: 900px;
    display:  flex;
    flex-wrap: wrap;
    background-color: white;
}

.sub-mission {
    height: 70px;
    width: 350px;
    margin: 5px 15px;
    padding: 5px 25px;
    display: flex;
    align-items: center;
    background-color: yellow;
}

.sub-mission > h4{
    margin: 5px 30px;
}



.upcoming-events > marquee{
    margin: 0 20px;
    width: 300px;
    padding: 5px 0px
}




/* IMAGE GALLERY */

.gallery {
    background-color: lightblue;
    margin-top: 100px;
    max-width: 1400px;
}

.gallery > h2{
    text-align: center;
}

.image-gallery{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 50px 30px;
}

.image-gallery > div{
    margin : 10px 10px;
    padding: 5px;
    width: 415px;
    height: 250px;
    background-color: red;
}

.image-gallery > div >  img{
    width: 100%;
    height: inherit;
}

.image-gallery > .big{
    flex : 25%;
    height: 350px;
}







/* FOOTER */

footer{
    margin-top: 150px;
    background-color: mediumslateblue;
    padding: 100px 200px;
}

.footer-part1{
    display: flex;
}

.useful-links{
    flex: 50%;
}

.social-links{
    flex : 50%;
}

.useful-links > div{
    background-color: red;
    display: flex;
}

.useful-links > div > p:nth-child(2){
    background-color: yellow;
    margin-left: 50px;
}


.social-links > .fa{
    font-size: 28px;
    text-decoration: none;
    margin: 10px 5px;
    width: 25px;
    height: 25px;
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 50%;   
}


.footer-part2{
    text-align: center;
    padding: 20px;
    background-color: greenyellow;
}
