@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  margin: 0px;
  text-align: center;
  background-color: #d9afd9;
  background-image: linear-gradient(0deg, #d9afd9 0%, #97d9e1 100%);
}

a {
  color: black;
  text-decoration: none;
  font-size: 28px;
  font-weight: bolder;
  font-family: "Roboto";
  padding-bottom: 20px;
}

h1 {
  text-align: center;
  letter-spacing: 2px;
  font-size: 48px;
  color: purple;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: plum;
  text-shadow: 2px 2px 4px #000000;
  font-family: "Roboto", sans-serif;
}

.calculator {
  max-width: 350px;
  margin: 70px auto;
  text-align: center;
  padding: 20px;
  border: 2px solid #ff3cac;
  border-radius: 5px;
  box-shadow: -2px -2px 4px #555, 2px 2px 5px 0px #555, 4px 4px 5px 0px #555,
    6px 6px 5px 0px #555, 8px 8px 5px 0px #555, 10px 10px 5px 0px #555,
    12px 12px 5px 0px #555, 14px 14px 5px 0px #555, 16px 16px 5px 0px #555;
  background-color: #21d4fd;
  background-image: linear-gradient(19deg, #21d4fd 0%, #b721ff 100%);
}

.calculator .input {
  width: 100%;
}

.calculator > .input > input {
  width: 92%;
  background-color: #86d6f3;
  border: 1px solid rgb(82, 81, 81);
  border-radius: 5px;
  font-size: 40px;
  padding: 0px 10px;
  height: 70px;
  margin: 0;
  box-shadow: 2px 2px 4px grey inset, -2px -2px 4px grey inset;
}

.buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

button {
  width: 70px;
  margin: 5px;
  font-size: 28px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  letter-spacing: 2px;
  height: 70px;
  border: 1px solid white;
  color: #000000;
  border-radius: 5px;
  background-color: #a9c9ff;
  transition: all 0.3s ease-out 0s;
  background-image: linear-gradient(135deg, #a9c9ff 0%, #ffbbec 100%);
}

.back {
  margin-top: 25px;
  width: 100%;
}

input:focus {
  outline: none;
}

button:hover {
  transform: scale(1.2);
  font-size: 32px;
  transform-origin: center;
  background-color: #ffdee9;
  background-image: linear-gradient(0deg, #ffdee9 0%, #b5fffc 100%);
}
