.navbar{
    background-color: #AB47BC !important;
}

.nav-link{
    color: #fff !important;
}

.carousel-inner{
    height: 500px !important;
    width: 100%;
}

.carousel-item{
    width: 100%;
    height: 100%;
}