body{
    margin: 0;
}

.fixed-icon{
    position: fixed;
    bottom: 20px;
    z-index: 1;
    left: 48%;
    color: white;
}

.parallax {
    
    position: relative;
    /* The image used */
    background-image: url("./Images/abc3.jpg");
    
  
    /* Set a specific height */
    height: 100vh;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax .overlay{
    background-color: #000000;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    opacity: 0.3;
}

.parallax .offers{
    position: absolute;
    top:40%;
    left : 35%;
    color: #ffffff;
    text-shadow: 2px 2px 4px #000000;
}

.offers h1{
    margin: 20px 0px;
    font-weight: bolder;
    font-size: 3.5em;
}


.headers{
    position: absolute;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    color: white;
    background-color: rgba(255,255,255,0.3);
}

.logo{
    margin-left: 100px;
    cursor: pointer;
}

nav{
    display: flex;
    margin-right: 100px;
}

nav > li{
    list-style-type: none;
    padding : 20px;
    cursor: pointer;
}

.card{
    border: 1px solid red;
    max-width: 400px;
}

.card-img{
    width: 400px;
    height: 250px;
}

.card-img > img{
    width: inherit;
    height: inherit;
}

.card .card-content{
    padding: 5px 15px;
}

.card-content > p > a{
    text-decoration: none;    
}