
body{
    background-color: thistle;
}


@media only screen and (max-width: 600px){
    body{
        background-color: tomato;
    }
}

div{
    background-color: burlywood;
    border : 1px solid red;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: flex-end;
}

