@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Cinzel+Decorative&family=Comic+Neue:wght@700&display=swap');


body{
    font-family: monospace;
    text-align: center;
}

.container{ 
    position: relative;
    margin: 0 auto;
    margin-top: 100px; 
    max-width: 500px;
    
}

.tick{
   
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 0 auto;
    border: none;
    /* border-color: green transparent transparent transparent; */
    animation: circle 0.5s 0.5s forwards;
    animation-iteration-count: 1;
}

@keyframes circle{
    0%{
        border: none;
    }
    5%{
        border: 25px solid;
        border-color: #28B463 transparent transparent transparent;
    }
    20%{
        border-color: #28B463 #28B463 transparent transparent;
    }
    40%{
        border-color: #28B463 #28B463 #28B463  transparent;
    }
    60%{
        border-color: #28B463 #28B463 #28B463 #28B463;
    }
    70%{
        
        border-color: #2ECC71 ;
    }
    75%{
    border-color:#117864;
    }
    94%{
        border-color:#117864;s
    }
    100%{
        border: 25px solid;
        border-color: #2ECC71 ;
    }
}

span{
    width: 100%;
    margin: 0 auto;
    font-size: 10rem;
    position: absolute;
    top:35px;
    color: #2ECC71;
    left: 5px;
    animation: show 1s 0.9s forwards;
    opacity: 0;
}

@keyframes show{
    100%{
        opacity: 1;
    }
}

h2{
    font-size: 3rem;
    font-family: 'Cinzel Decorative', cursive;
    margin-bottom: 10px;
    animation: show 1s 1.2s forwards;
    opacity: 0;
}

h3{
    font-family: 'Comic Neue', cursive;
    font-size: 2rem;
    margin:0px;
    margin-bottom: 10px;
    animation: show 1s 1.2s forwards;
    opacity: 0;
}

p{
    font-family: 'Caveat', cursive;
    font-size: 28px;
    animation: show 1s 1.5s forwards;
    opacity: 0;
}

button{
    font-family: 'Comic Neue', cursive;
    border-radius: 6px;
    font-size: 18px;
    font-weight: 700;
    padding: 15px 15px;
    cursor: pointer;
    width: 150px;
    color: white;
    border: none;
    animation: show 1s 1.5s forwards;
    opacity: 0;
    background: linear-gradient(90deg, #0072ff 0%, #00d4ff 100%)
}

button:focus{
    outline:none;
}
