.edity {
  display: none;
}

ul li.editMode label {
  display: none;
}

ul li.editMode input {
  display: block;
}

label,
.edity {
  max-width: 200px;
}

.completed {
  text-decoration: line-through;
}

body {
  text-align: center;
}

li {
  list-style-type: none;
}

h1 {
  font-size: 3rem;
}

input {
  border: none;
  border-bottom: 2px solid grey;
}

input:focus {
  outline: none;
  border: none;
  border-bottom: 2px solid red;
}

.listBox {
  max-width: 500px;
  border: 2px solid red;
  margin: 0 auto;
}

.listBox > ul {
  border: 2px solid green;
}

.listBox > ul > li {
  display: flex;
  justify-content: space-between;
}
